html, body {
    font-family: Garamond,Serif;
    background-color:#4e4e4e;
    margin: 0;
}

header, footer{
    display:flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
    border: solid;
    border-color:#f8f8f8;
    height: 20%;
    
}
main {
    display: flex; 
    flex-direction: row; 
    min-height: 100vh;
    padding:5px 80px;
    height: 60%;   
}

div{
    flex-direction: column;
    margin: 10px 15px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    color:#7a49a5;
}

h2 {
    font-size: 2.0rem;
    font-weight: 100;
    text-align: center;
    color:#7a49a5;
}

h3{
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    color:#7a49a5;
}

p, ul, li {
    font-size: 1.25rem;
    color: #f8f8f8;
    word-spacing: 1.5px;
}

a{
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

a:focus {
    outline: none;
}

b{
    font-weight: 500;    
}

img {
    border: solid;
    border-color:#f8f8f8;
}

.white{
    color:#f8f8f8;
}

.white:hover{
    color:#7a49a5;
}
.highlight{
    color:#4974a5;
    font-weight: 500;
}
.dropdown {
  position: sticky;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#4e4e4e;
    border: solid;
    border-color:#f8f8f8;
    min-width: 200px;
    padding: 5px;
    margin: 2.5px;
    size:50%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.small{
    size:50%;
}
.large{
    size:150%;
}
