* {
    font-family: Garamond,Serif;
    background-color:#4e4e4e;
    margin: 0; 
}

header, footer{
    display: flex;
    position: sticky;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
    border: solid;
    border-color:#f8f8f8;
     
}
header{
    top: 0;
}

footer{
    bottom:0;
}

main {
    display: flex; 
    flex-direction: row; 
    min-height: 100vh;
    padding:5px 80px;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    color:#7a49a5!important;
}

h2 {
    font-size: 1.75rem;
    text-align: center;
    color:#7a49a5!important;
}

p, ul, li {
    font-size: 1rem;
    text-align: justify;
    color: #f8f8f8!important;
    list-style-type: none;
}

a{
    text-decoration: none !important;
    font-size: 1.25rem;
    color:#f8f8f8!important;
    text-align: justify;
    background-color: transparent;
    cursor: pointer;
    
}

a:hover{
    color:#7a49a5!important;
}

a:focus {
    outline: none;
}
img {
    border: solid;
    border-color:#f8f8f8;
    margin: 0 15px;
    align-items: center;
}

.highlight{
    color:#4974a5!important;
}

.menu{
    position: relative;
    border: none;
    cursor: pointer;
    display: flex;
    position: sticky;
    justify-content: space-between;
    flex-direction: row;
    width:250px;
}
.dropdown{
    display: none;
    position: absolute!important;
    top: 30px;
    justify-self: left;
    background-color:#4e4e4e;
    border: solid;
    border-color:#f8f8f8;
    width:250px;
}
.menu:hover .dropdown,.menu:hover .dropup{
  display: block;
}