html, body {
    font-family: Garamond,Serif;
    line-height: 1;
    margin: 0;
    width: 100%;
    background-color:#4e4e4e;
    
}

header, footer{
    display:flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
    border: solid;
    border-color:#f8f8f8;
    height: 20%;
    margin: auto;
}
main {
    display: flex; 
    flex-direction: row; 
    min-height: 100vh;
    padding:5px 80px;
    height: 60%;   
}

div{
    flex-direction: column;
    margin: 10px 20px;
}

h1 {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    color:#7a49a5;
    
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 15px;
    color:#7a49a5;
}

h3{
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 15px;
    color:#7a49a5;
}

p, ul, a, b{
    font-size: 1rem;
    color: #f8f8f8;
}

a{
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

a:focus {
    outline: none;
}

b{
    font-weight: 700;    
}

img {
    border-style: none

}

.white{
    color: #f8f8f8;
}

.white:hover{
    color:#7a49a5;
}
.highlight{
    color: #4974a5;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#4e4e4e;
    border: solid;
    border-color:#f8f8f8;
    min-width: 100px;
    padding: 10px 15px;
    z-index: 99;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.small{
    size:50%;
}
